.startPageText {
    font-size: 2em;
    font-weight: 900;
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #414141);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
   
}

.startPageText span {
    background: #a05cc7;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 6px rgba(135, 130, 202, 0.6), 0 0 25px rgba(135, 130, 202, 0.3);
    font-weight: bold;
}

.startPageText p {
    text-align: center;
}