.footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 10vh;
    height: auto;
    pointer-events: none;
    margin-top: 40vh;
    pointer-events: all;
}

.footerInfoContainer {
    width: 100vw;
    height: auto;
    text-align: center;
}

h3 {
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #414141);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}

.footerInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referencePerson,
.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #00000080);
    border: 1px solid #000000;
    width: 40vw;
    color: #f8f8ff;
    font-size: 1.125em;
    margin-top: 1vw;
}
