@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100dvh;
    background-color: #0f0f0f;
}

#root{
    overflow-x: hidden;
}