.aboutMe{
    height: 100vh;
    display: flex;
    margin-left: 10vw   ;
    margin-right: 10vw  ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    transform: translateY(1000px);
}

.mainText {
    color: #f8f8ff;
}

.secondaryText {
    color: #E0E0E0;
}

.gradientText{
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #414141);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutMeInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.aboutMeInfoContainer img {
    width: auto;
    height: 60vh;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 0px 200px #a05cc780;
}

