.projectsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --mainText: #f8f8ff;
    --secondaryText: #E0E0E0;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    height: 100vh;
    pointer-events: none;
}

.header {
    font-size: 3em;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

p {
    color: var(--mainText);
    text-align: center;
}

.gradientText {
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #414141);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.projectsContainer:hover {
    transform: scale(1.05);
}

.projectContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1 1 auto;
    min-width: 400px;
    max-width: 400px;
    font-size: 1.5em;
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #3f364480);
    border: 1px solid rgb(53, 53, 53);
}

@media (max-width: 1250px) {

    .projectsWrapper {
        margin-top: 12vh;
        margin-bottom: 100vh;

    }

    .projectContainer {
        flex-basis: 100%;
        max-width: auto;
        text-align: center;
    }
}